@import "./assets/app-theme";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-family: Roboto, Arial, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background;
}

.page-container {
  margin: 20px;
}
